<div id="form-container">
<h1>Sign in</h1>
<%= form_with model: @users do |form|%>
<div class="field-container success-msg">
<%=notice %>
</div>
<div class = 'field-container'>
  <%= form.label :email%>
  <%= form.text_field :email , class: "text-field"%>
</div>
<div class = 'field-container'>
  <%= form.label :password%>
  <%= form.password_field :password , class: "text-field"%>
</div>
<div class = 'field-container'>
  <%= form.submit "Log in" , class: "text-field"%>
</div>
<div class = 'field-container'>
Don't have account ? <%=link_to "Sign up", signup_path%> 
</div>
<%end%>

</div >