<div id="form-container">
<h1>Sign up</h1>
<%= form_with(model: @users) do |form|%>
<div class = 'field-container'>
   <%= form.label :name%>
   <%= form.text_field :name, class: "text-field"%>
</div>
<div class = 'field-container'>
   <%= form.label :occupation%>
   <%= form.text_field :occupation , class: "text-field"%>
</div>
<div class = 'field-container'>
  <%= form.label :email%>
  <%= form.text_field :email , class: "text-field"%>
</div>
<div class = 'field-container'>
  <%= form.label :password%>
  <%= form.password_field :password , class: "text-field"%>
</div>

<div class = 'field-container'>
  <%= form.submit "Signup" , class: "text-field"%>
</div>
<div class = 'field-container'>
Already have account ? <%=link_to "Login", login_path%>
</div>
<%end%>

</div >